/*vertical variant*/

.uk-slider__input_view_vertical {
  width: 20px;
  height: 215px;
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: slider-vertical;
  background: none;
  position: absolute;
}

.uk-slider__input_view_vertical::-webkit-slider-runnable-track {
  width: 1px; /*width of line*/
  background: rgb(0, 13, 255); /*color of line*/
}

.uk-slider__input_view_vertical::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #7c004e;
  border-radius: 25px;
  z-index: 1;
}
.uk-slider__input_view_vertical:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.uk-slider_vert {
  position: relative;
  height: 215px; /*equal to height of .uk-slider__input_view_vertical*/
  display: inline-block;
}

.uk-slider__range_value {
  position: absolute;
  margin-top: 25px;
}

.uk-slider__range_value {
  position: relative;
  display: inline-block;
}
.uk-slider__value_block {
  height: 215px; /*must be equal of block width*/
  display: grid;
  align-content: space-between;
}
