/*vertical variant*/

input[type='range'][orient='vertical'] {
  overflow: hidden;
  cursor: pointer;
  -webkit-appearance: none;
  width: 215px; /*width of line*/
  height: 30px;
  background: none;
  transform: rotate(90deg);
  transform-origin: bottom;
  overflow: hidden;
  position: absolute;
}

.uk-slider__input_view_vertical:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

input[type='range'][orient='vertical']::-webkit-slider-runnable-track {
  background: yellow;
  border: 1px solid black;
  width: 50px;
  z-index: 1;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}
