/*vert */
.uk-slider {
  position: relative;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

.uk-slider__range {
  position: absolute;
  /*translateY = width+2 of .uk-slider__input*/
  margin-left: 10px;
}

.uk-slider__range_orient_vertical {
  -webkit-transform: rotate(
    90deg
  ); /*translateY = width+2 of .uk-slider__input*/
}

.uk-slider__input {
  position: absolute;
  width: 300px; /*width of line*/
  /* overflow: hidden; */
  -webkit-appearance: none;
  background: none; /*background of all elements`*/
}

.uk-slider__input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px; /*height of line*/
  background: red; /*color of line*/
  border-radius: 10px;
}

.uk-slider__input::-webkit-slider-thumb {
  position: relative;
  margin-top: -2.5px; /*position of handle (automatic depend on height of line on -2 pos)*/
  background: rgb(216, 57, 179); /*color of handle*/
  border: 1px solid #19007c; /*border of handle*/
  border-radius: 1px; /*25 - handle is circle; 0 - square*/
  width: 10px; /*width of handle*/
  height: 10px; /*height of handle*/
  -webkit-appearance: none;
  cursor: pointer; /*cursor of slider`*/
  transition: 3s;
}

.uk-slider__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.uk-slider__range_value {
  position: relative;
  display: inline-block;
}
.uk-slider__value_block {
  width: 305px; /*must be equal of block width*/
  display: flex;
  justify-content: space-between;
  margin-left: 9px;
}

.uk-slider__value_block_orient_vertical {
  margin-left: 13px;
  display: grid;
  height: 300px; /*must be equal of block width*/
  align-content: space-between;
}

.uk-slider__range_value {
  width: 50px;
  background: none;
  border: none;
  font-size: 15px;
  margin-top: 10px;
}

.uk-slider__value_block_orient_vertical .uk-slider__range_value_min {
  margin-top: -3px;
}
